* {
    margin:0;
    padding:0;
	}
body{
    background:lightgray;
}
#page{
    background:lightgray;
    width:100%;
    margin:auto;
    margin-bottom:10px;
}
header{
    text-align:left;
    font-size:24pt;
    font-style:algerian;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 64%,#000000 88%);
    color:white;
    width:100%;
}
header b{
    position:absolute;
    float:right;
    text-align:center;
    margin-left:170px;
    padding-top:18px;
}
nav{
    width:100%;
    padding-top:5px;
    padding-bottom:4px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
    margin:auto;
}
nav ol {
    list-style-type:none;
    text-align:center;
    margin:auto;
    
}
nav ol li{
    display:inline;
    color:black;
    margin: 70px;
    font-size:18pt;
    
}
nav a{
    text-decoration:none;
    color:white;
}
nav a:hover{
    text-decoration:underline;
    color:lightblue;
}

#border{
  /*  margin:0px auto;  */
	padding:15px;
    width:auto;
    height:auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(45,45,45,1)), color-stop(29%,rgba(89,89,89,1)), color-stop(44%,rgba(71,71,71,1)), color-stop(61%,rgba(76,76,76,1)), color-stop(78%,rgba(107,107,107,1)), color-stop(100%,rgba(43,43,43,1)));
}
#innerborder{
    text-align:center;
    margin:0px auto;
    font-size:20px;
	padding:15px;
    width:880px;
    height:570px;
    border-style:dashed;
    border-width:7px;
    border-color:darkgray;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(16%,rgba(89,89,89,1)), color-stop(28%,rgba(71,71,71,1)), color-stop(80%,rgba(76,76,76,1)), color-stop(98%,rgba(107,107,107,1)));
}
#innerborder p{
    padding-top:20px;
    color:white;
}
#innerborder a{
    text-decoration:none;
    color:lightblue;
}
#innerborder a:hover{
    text-decoration:underline;
    color:lightgray;
}
footer{
    text-align:left;
    font-size:14pt;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 64%,#000000 88%);
    color:white;
    width:100%;
    height:25px;
    text-decoration:underline;
    margin-top:9px;
}
.button{
     text-align:center;
     font-size: 85%;
     background: rgb(66, 184, 221);
     color: white;
     border-color: rgb(66, 184, 221);
     border-width: 8px;
     border-radius: 4px;
     text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.ubutton{
     text-align:center;
    margin:4px;
     font-size: 85%;
     background: rgb(66, 184, 221);
     color: white;
     border-color: rgb(66, 184, 221);
     border-width: 8px;
     border-radius: 4px;
     text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}